{{ include('Frontend/layout/fos_header.html.twig') }}

    {% trans_default_domain 'FOSUserBundle' %}

    <div class="card card-login mx-auto mt-5">
        <div class="card-header text-success">Please check your email !!</div>
        <div class="card-body">

            {% block fos_user_content %}
                <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
            {% endblock fos_user_content %}
            
        </div>
    </div>

{{ include('Frontend/layout/fos_footer.html.twig') }}