<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sym app</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/fos-style.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="row">

            <div class="Absolute-Center is-Responsive">
                <div id="logo-container"></div>
                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                
    